@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* -------- HERO ------- */

.hero-container{
    background-image: url("../img/coding-backgroung-opacity.webp");
    background-color: #FFE162;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.hero{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 15vh 10rem 5vh;
    min-height: 90vh;
}
.hero a{
    text-decoration: none;
    color: black;
}

.hero-text{
    font-family: 'Courier Prime', monospace;
    font-size: 1.5rem;
    text-align: justify;
}

.hero > i {
    color: black;
}
.hero-photo{
    border-radius: 50%;
    width: 50vh;
}


/* -------- MAIN ------- */
main{
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 0 10rem;
    min-height: 90vh;

    font-family: 'Courier Prime', monospace;
    font-size: 1.5rem;
}


