@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* -------- HERO ------- */

.hero-container{
    background-image: url("img/hero-background.jpg");
    background-color: #FDB827;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 15vh 10rem 5vh;
    min-height: 90vh;
}
.hero a{
    text-decoration: none;
    color: black;
}

.hero-text{
    font-family: 'Courier Prime', monospace;
    font-size: 1.5rem;
    text-align: justify;
}

.hero > i {
    color: black;
}
.hero-photo{
    border-radius: 50%;
    width: 50vh;
}


/* -------- MAIN ------- */
main{
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 0 10rem;
    min-height: 90vh;

    font-family: 'Courier Prime', monospace;
    font-size: 1.5rem;
}


/* -------- FOOTER ------- */

footer{
    background-color: black;
    color: #FDB827;
    min-height: 20vh;
    padding: 5vh 10rem;
    font-family: 'Courier Prime', monospace;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > ul{
    width: 100%;
    list-style-type: none;
    color: #FDB827;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    text-decoration: none;
}
footer i{
    font-size: 2rem;
    color: #FDB827;
}
footer i:hover{
    color: #F1F1F1;
}
.footer-developer{
    margin-right: auto;
}
.footer-social-link{
    margin-left: 1.5rem;
}


