@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


/* -------- NAV ------- */
nav{
    height: 10vh;
    width: 100%;
    padding: 0 10rem;
    position:fixed;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    box-shadow: 0 5px 10px #2C272E;
    background-color: #F1F1F199;
    backdrop-filter: blur(20px);
}


/* -------- HERO ------- */

.hero-container{
    background-image: url("img/hero-background.jpg");
    background-color: #FDB827;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}

.hero{
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 5rem 10rem 0;
    height: 90vh;
}

.hero-text{
    padding-right: 5rem;
    font-family: 'Courier Prime', monospace;;
    font-size: 1.5rem;
    text-align: justify
}

.hero, i {
    color: black;
}
.hero-photo{
    border-radius: 50%;
    width: 25rem;
}


/* -------- MAIN ------- */
main{
    background-color: #E8D1A9;
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 0 10rem;
    height: 90vh;

    font-family: 'Courier Prime', monospace;;
    font-size: 1.5rem;
}


/* -------- FOOTER ------- */

footer{
    background-color: #FDB827;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 5rem 10rem;


    font-family: 'Courier Prime', monospace;
    font-size: 1.5rem;
}