@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family:'Courier Prime', monospace;
}


header{
    padding: 15vh 10rem 0;
    background-color: #FFE162;
    color: black;
}
header > h1{
    text-align: center;
    font-size: 3rem;
}

main{
    padding: 5vh 10rem 10vh;
    background-color: #FFE162;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    
}

.main-container{
    padding: 5vh 2rem;
    background-color: #F1F1F1;
    min-height: 70vh;
    width: 70%;
    border-radius: 1rem;
    /* text-align: center; */
}

form{
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
/* -------- To Do Input ------- */
.to-do-input{
    min-height: 3rem;
    font-size: 1.5rem;
    width: 100%;
    font-family:'Courier Prime', monospace; 
}

/* -------- Buttons ------- */
button{
    min-height: 3rem;
    min-width: 3rem;
}
button i{
    pointer-events: none;
}
/* -------- To Do Task ------- */
.to-do-task-box{
    
    display: flex;
    min-height: 2rem;
    font-size: 1rem;
    width: 100%;
    gap: .5rem;
    margin-top: .5rem;
}
.to-do-task{
    font-family:'Courier Prime', monospace; 
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: auto;
}
/* .to-do-container{
    display: flex;
} */

.to-do-task-box > button{
    min-height:2rem;
    min-width: 2rem;
}