@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family:'Courier Prime', monospace;
}


header{
    padding: 15vh 10rem 0;
    background-color: #FFE162;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header > h1{
    font-size: 3rem;
}

.instructions-div ul{
    padding: 1rem 0;
    list-style: none;
    font-size: 1rem;
}

main{
    padding: 5vh 10rem 10vh;
    background-color: #FFE162;
    min-height: 70vh;
    display: flex;
    justify-content: center;
}

.main-container{
    padding: 5vh 2rem;
    background-color: #F1F1F1;
    min-height: 70vh;
    width: 70%;
    border-radius: 1rem;
}

form{
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
/* -------- To Do Input ------- */
.to-do-input{
    min-height: 3rem;
    font-size: 1.5rem;
    width: 100%;
    font-family:'Courier Prime', monospace; 
    border: 1px solid black;
    box-shadow: .1rem .1rem black;
    border-radius: .2rem;
}

/* -------- Buttons ------- */
button i{
    pointer-events: none;
}
button{
    min-height: 3rem;
    min-width: 3rem;
    background-color: white;
    border: 1px solid black;
    box-shadow: .1rem .1rem black;
    border-radius: .2rem;
    cursor: pointer;
    
}
.to-do-add-btn:hover{
    background-color: #91C483;
}
.to-do-speech-btn:hover{
    background-color: #FF6464;
}
.to-do-speech-btn.rec{
    background-color: #FF6464;
    transform: translateY(1rem);
}
.to-do-btn-done:hover{
    background-color: #91C483;
}
.to-do-btn-delete:hover{
    background-color:#FF6464;
}
button:active{      
    transform: translateY(.5rem) ;
}
/* -------- To Do Task ------- */
.to-do-task-box{
    display: flex;
    min-height: 2rem;
    font-size: 1rem;
    width: 100%;
    gap: .5rem;
    margin-top: .5rem;
}
.to-do-task{
    font-family:'Courier Prime', monospace; 
    background-color: white;
    width: 100%;
    padding: .5rem .5rem;
    display: flex;
    align-items: center;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: .1rem .1rem black;
    border-radius: .2rem;
}
.to-do-container{
    display: flex;
    flex-direction: column-reverse;
}

.to-do-task-box > button{
    min-height:2rem;
    min-width: 2rem;
    background-color:white;
    color: black;
    border: 1px solid black;
    box-shadow: .1rem .1rem black;
    border-radius: .2rem;
}


/* -------- Github Project Link ------- */
.github-project-div{
    padding: 2.5vh 10rem 10vh;
    background-color: #FFE162;
    display: flex;
    justify-content: center;
    text-align: center;
}
.github-project-div a{
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
}

.github-project-div a:hover{
    color: #21209C;
}


/* -------- email POPUP ------- */
.empty-input-popup{
    display: none;
    position: fixed;
    z-index: 10;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 7rem;
    overflow: auto;
    background-color:#F1F1F1;
    border: 5px solid #D72323;
    box-shadow: .5rem .5rem black;
}
.empty-input-popup-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    font-family:'Courier Prime', monospace;
    font-size: 70%;
    margin-bottom: 1rem;
}
.empty-input-close-btn{
    color:black;
    float: right;
    font-size: 3rem;
    font-weight: bold;
    margin-left: auto;
    margin-top: 1rem;
    cursor: pointer;
}
.empty-input-color{
    color: #21209C;
}
.empty-input-close-btn:hover{
    color: #D72323;
}

.empty-input-close-btn:active{
    transform: translateY(4px);
}

@media only screen and (max-width: 1024px){
    header{
        padding: 15vh 5rem 0;
        background-color: #FFE162;
        color: black;
    }
    header h1{
        font-size: 2rem;
    }
    .to-do-input{
        font-size: .8rem;
    }
    main{
        padding: 1rem 10rem;
    }
    
    .main-container{
        width: 100%;
        padding: 0 1rem;
        margin: 0;
    }

    .empty-input-popup{
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 768px){
    header{
        padding: 15vh 1rem 0;
        background-color: #FFE162;
        color: black;
    }
    header h1{
        font-size: 1.5rem;
    }
    .to-do-input{
        font-size: .8rem;
    }
    main{
        padding: 1rem 1rem;
        
    }
    
    .main-container{
        width: 100%;
        padding: 0 1rem;
        margin: 0;
    }
    .empty-input-popup{
        padding: 0;
        margin: 0;
    }
    .github-project-div{
        padding: 2.5vh 1.5rem 10vh;
    }
    .github-project-div a{
        font-size: 1rem;
    }
}