@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family:'Courier Prime', monospace;
}


header{
    padding: 15vh 10rem 0;
    background-color: #FFE162;
    color: #21209C;
}
header > h1{
    text-align: center;
    font-size: 3rem;
}

main{
    padding: 5vh 10rem 10vh;
    background-color: #FFE162;
    min-height: 70vh;
    
}

.main-container{
    padding: 5vh 2rem;
    background-color: #F1F1F1;
    min-height: 70vh;
    border-radius: 1rem;
    /* text-align: center; */
}

form{
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
/* -------- To Do Input ------- */
.to-do-input{
    min-height: 3rem;
    font-size: 2rem;
    font-family:'Courier Prime', monospace; 
}

/* -------- Buttons ------- */
button{
    min-height: 3rem;
    min-width: 3rem;
}