@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #2C272E;
}
header{
    padding: 15vh 10rem 5vh;
    
    color: #9AE66E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header > h1{
    font-size: 3rem;
}

main{
    padding: 0 10rem 15vh;
    display: flex;
    justify-content: space-between;
    gap: 0 1rem;
    min-height: 80vh;
}

.menu-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9AE66E;
    border-radius: 1rem;
    
}
.menu-container ul{
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2C272E;
}

.menu-container label{
    cursor: pointer;
}

.pickBtn{
    padding: 1rem;
    font-size: 1.7rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #2C272E;
    color: #9AE66E;
}

.pickBt:active{
    transform: translateY(.5rem);
}

.outPutDiv{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-logo{
    max-height: 18rem;
}

.active{
    background-color: #9AE66E;
    border-radius: 1rem;
}
iframe{
    border-radius: 1rem;
}

@media only screen and (max-width: 1200px){
    header{
        padding: 15vh 2rem 5vh;
    }
    main{
        padding: 0 2rem 15vh;
    }
    .outPutDiv{
        padding: 2rem 0;
    }
    .outPutDiv iframe{
        max-width: 90%;
        height: 90%;
    }
    
}

@media only screen and (max-width: 768px){
    header > h1{
        font-size: 2rem;
    }
    main{
        flex-direction: column;
        padding: 0 0 15vh;
    }
    .menu-container{
        margin: 2rem .5rem;
    }
    .pickBtn{
        margin-bottom: 2rem;
    }
    .outPutDiv{
        padding: 2rem 0;
    }
    .outPutDiv iframe{
        max-width: 90%;
        height: 90%;
    }
}